@font-face {
    font-family: philosopher-reg;
    src: url(../assets/Philosopher-Regular.ttf);
}

@font-face {
    font-family: philosopher-bold;
    src: url(../assets/Philosopher-Bold.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../assets/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(../assets/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-reg;
    src: url(../assets/Roboto-Regular.ttf);
}

@font-face {
    font-family: weather-icons;
    src: url(../assets/artillweather/artilweathericons.ttf);
    ;
}

/* nav bar */
.nav-style {
    background-color: white;
}

.weatherTitle {
    color: #707070;
    font-family: philosopher-bold;
}

.darkModeTitle {
    color: white !important;

}

.form-control {
    width: 320px;
    height: 45px;
}

.box-shadow {
    box-shadow: 0px 0px 10px 3px #e9e7e7;
}

.search-icon-btn {
    background-color: #BDB8F8;
}

.border-rad {
    border-radius: 15px;
}

.fiveDayWeather,
.todayText,
.placeLocation {
    font-family: roboto-light;
}

.placeLocation, 
.todayText {
    letter-spacing: 2px;
    font-size: 28px;
}

.curr-temp-text {
    font-family: philosopher-reg;
    font-size: 150px;
}

.BGImg {
    /* background-image: url(../assets/gradient.png); */
    /* background-repeat: no-repeat; */
    /* background-size: 1920px 1080px; */
    background: 
        /* linear-gradient(217deg, rgba(71, 90, 238, 1), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(143, 220, 249, .8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(208, 174, 239, .8), rgba(0, 0, 255, 0) 70.71%); */
        linear-gradient(to top left, rgba(205, 164, 231, 1), rgba(255, 153, 150, 0), rgba(145, 220, 250, 1)), linear-gradient(to top right, rgba(217, 183, 242, 1), rgba(255, 153, 150, 0), rgba(74, 93, 240, 1)) rgb(141, 171, 216);
    background-attachment: fixed;
}

.BGImg::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(to bottom, rgb(141, 171, 216), white);
    -webkit-mask-image: linear-gradient(to left, white, transparent);
}

.whiteBG {
    background-color: white;
}

.darkModeColor {
    background-color: #2F2F2F;
}

.darkGrayColor {
    color: #454545;
}

.lightGrayColor {
    color: #6D6D6D;
}

.desc-and-temps {
    font-family: philosopher-reg;
    font-size: 30px;
}

.timeText {
    font-family: roboto-thin;
    font-size: 25px;
    font-weight: bold;
    color: #6D6D6D;
}

.timeTempText {
    font-family: philosopher-reg;
    font-size: 70px;
}

/* #openFavorites {
    font-family: roboto-reg;
    font-size: 18px;
    text-decoration: none;
    color: #707070;
    padding-left: 150px;
    padding-right: 150px;
} */

.sun-btn {
    width: 60%;
    position: absolute;
    top: 270px;
    left: -300px;
    z-index: -1;
    overflow: hidden;
}

/* .sunImage {
    background-image: url(../assets/Yellow-Circle-PNG-Free-Image.png);
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    position: absolute;
    background-position: 50% 100%;
    z-index: -1;
} */

.croppedSun {
    width: 50%;
    height: 78%;
    position: absolute;
    top: 259px;
    left: -100px;
    z-index: -1;
}

.heart-text {
    font-size: 22px;
    padding-right: 10px;
}

.favorites-style {
    border-radius: 15px;
    opacity: .8;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: roboto-reg;
    font-size: 18px;
    text-decoration: none;
    color: #707070;
    padding-left: 130px;
    padding-right: 130px;
}

.iconFont {
    font-family: weather-icons;
    line-height: 0%;
}

.current-icon-font {
    font-size: 250px;
    padding-left: 90px;
}

.curr-times-font {
    font-size: 125px;
    padding-top: 40px;
    padding-bottom: 25px;
}

.vl {
    border-right: 2px dotted #707070;
    height: 230px;
}

.dates-text {
    font-family: roboto-light;
    font-weight: bold;
    font-size: 25px;
}

.yellow {
    color: #FFC400;
}

.blue {
    color: #6DABD1;
}

.purple {
    color: #D1C0D8;
}

.clearNight {
    font-size: 200px !important;
    color: #D1C0D8;
}

.days-font {
    font-size: 70px;
    padding-top: 25px;
    padding-bottom: 30px;
    color: black !important;
}

.transparentBG {
    background: rgba(255, 255, 255, 0.7);
}

.white-font {
    color: white !important;
}